<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta
      name="description"
      content="Hypero! Avem cei mai hyped sneakersi din Romania. Gasesti la noi ultimele lansari Nike, Yeezy si Jordan.
         Urmareste-ne pe instagram la @Hypero pentru a fi la curent cu giveaway-urile pe care le facem!"
    />
    <meta
      name="keywords"
      content=": Hypero, magazin haine, magazin adidasi, magazin incaltaminte, Sneaker Shop, Streetwear, Bucuresti, Nike, Adidas, Supreme, Bape, Balenciaga"
    />
    <title>Hypero - eroare</title>
    <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css" <%-
    include("../fragmente/head.ejs"); %>
  </head>
  <body>
    <%- include("../fragmente/header.ejs"); %>

    <main>
      <div id="err-coloane">
        <div id="err-imag">
          <!-- <img src="<%- locals.imagine %>" /> -->
        </div>
        <section>
          <h2><%- locals.titlu %></h2>
          <p><%- locals.text %></p>
        </section>
      </div>
    </main>

    <%- include("../fragmente/footer.ejs"); %>
  </body>
</html>
