<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind ofera prajituri, torturi, produse de patiserie cu optiunea de achizitie online si livrare prin curier.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Hypero</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <script type="text/javascript" src=/resurse/js/produse-cos.js></script>
        <link href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <label>
            <br>
            <!-- <input type="text" id="inp-nume"> -->
            <div class="row">
                <div class="col-6">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Enter your text here" id="inp-nume" style="height: 100px;"></textarea>
                        <label for="inp-nume">Nume:</label>
                        <div class="invalid-feedback">
                            Introdu un text corect.
                        </div>
                    </div>
                </div>
            <div class="col-6">
                Marimi populare:
                <br>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="gr_rad" id="i_rad1" autocomplete="off" value="42.5:43"> 42.5
                </label>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="gr_rad" id="i_rad1" autocomplete="off" value="43:44"> 43
                </label>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="gr_rad" id="i_rad2" autocomplete="off" value="44:45"> 44
                </label>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="gr_rad" id="i_rad3" autocomplete="off" value="45:46"> 45
                </label>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="gr_rad" id="i_rad4" autocomplete="off" value="toate" checked> Toate
                </label>
                </div>
            </div> 
            
            </div>
        </label>
        <!--<label> Maxim calorii: <input type="number" id="inp-calorii" value="10000"></label>-->
        <!-- <div> Marime:trebuie sa aiba acelasi name ca sa formeze un grup -->
<!--             
            <p> -->
                <!-- <input id="i_rad1"  name="gr_rad" value="0:350" type="radio"/>  -->
                <!-- <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="i_rad1" name="gr_rad" value="0:350"> -->
                    <!-- <label>Dietetic (calorii &lt; 350)
                    <label>S</label>
                </div>
            </label></p>
            <p> -->
                <!-- <input id="i_rad2"  name="gr_rad" value="350:700" type="radio"/> -->
                <!-- <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="i_rad2" name="gr_rad" value="350:700">
                    <label>Mediu (350 &le; calorii &lt; 700) -->
                        <!-- <label>M</label>
                </div>
            </label>
            <p> -->
                <!-- <input id="i_rad3" name="gr_rad" value="700:1000000000" type="radio"/> -->
                <!-- <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="i_rad3" name="gr_rad" value="700:1000000000">
                    <label>Ridicat caloric (700 &le; calorii)
                        <label>Universal</label>
                </div>
            </label>
            <p><label>Toate
                <input id="i_rad4" checked name="gr_rad" value="toate" type="radio"/>
            </label>
        </div> -->

        <label> Pret minim: 
            <!-- <input type="range" id="inp-pret" value="0" min="0"  max="30000"> <span id="infoRange">(0)</span> -->
            <div style="display: flex; flex-direction: row; width: 15rem; margin-top: 8px;">
                <input type="range" id="inp-pret" class="custom-range" min="0" max="30000">
                <span id="infoRange">(0)</span>
            </div>
        </label>
        
        <br>
        <br>
        <label style="margin-bottom: 8px;">Brand:
            <select id="inp-categorie">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of locals.branduri) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>
        <p>
        <button id="filtrare" class="btn btn-primary border border-secondary rounded btn-md mb-2"><i class="bi bi-filter"></i>Filtreaza</button> 
        <button id="resetare" class="btn btn-primary border border-secondary rounded btn-md mb-2"><i class="bi bi-arrow-clockwise"></i>Reseteaza</button><br/>
        <button id="sortCrescNume" class="btn btn-primary border border-secondary rounded btn-md mb-2"><i class="bi bi-arrow-up"></i>Sorteaza crescator dupa pret si nume</button>
        <button id="sortDescrescNume" class="btn btn-primary border border-secondary rounded btn-md mb-2"><i class="bi bi-arrow-down"></i>Sorteaza descrescator dupa pret si nume</button>

        </p>
        
        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" >
                        <h3 class="nume">Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <figure >
                            <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagine/produse/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                        </figure>
                        <!-- <div class="info-prod">
                            <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span> lei</p>
                            <p class="calorii">Pret Lansare: <span class="val-calorii"><%- prod.pret_lansare%></span> lei</p>
                            <p class="gramaj">Tip: <span class="val-gramaj"><%- prod.tip%></span></p>
                        </div> -->
                        <ul>
                            <li><span style="font-weight: bold; color: var(--culoare2);">Pret:</span> <span class="val-pret"><%- prod.pret%></span> lei</li>
                            <!-- <li>Pret Lansare: <span class="val-pret"><%- prod.pret_lansare%></span> lei</li> -->
                            <li><span style="font-weight: bold; color: var(--culoare2);">Tip:</span> <span class="val-gramaj"><%- prod.tip%></span></li>
                            <li><span style="font-weight: bold; color: var(--culoare2);">Culoare: </span><span class="val-gramaj"><%- prod.culoare%></span></li>
                            <li><span style="font-weight: bold; color: var(--culoare2);">Data: </span><span ><%- prod.data_adaugare%></span></li>
                            <li><span style="font-weight: bold; color: var(--culoare2);">Conditie: </span>
            <span class="pt_diabetici"
              ><% if (prod.pret_lansare) { %> Nou <% } else { %> Purtat
              <% } %></span
            ></li>
                        </ul>
                        <ul>
                            <li><span style="font-weight: bold; color: var(--culoare2);">Pret Lansare:</span> <span class="val-pret"><%- prod.pret_lansare%></span> lei</li>
                            <!-- <li>Pret Lansare: <span class="val-pret"><%- prod.pret_lansare%></span> lei</li> -->
                            <li><span style="font-weight: bold; color: var(--culoare2);">Marime: </span> <span class="val-calorii"><%- prod.marime%></span></li>
                            <li><span style="font-weight: bold; color: var(--culoare2);">Brand: </span><span class="val-categorie"><%- prod.brand%></span></li>
                            
                        </ul>
                        <!-- <p class="marime">Pret: <span class="val-pret"><%- prod.pret%></span> lei</p>
                        <p class="marime">Pret Lansare: <span class="val-calorii"><%- prod.pret_lansare%></span> lei</p>
                        <p class="marime">Tip: <span class="val-gramaj"><%- prod.tip%></span></p>
                        <p class="marime">Marime: <span class="val-marime"><%- prod.marime%></span></p>
                        <p class="categorie">Brand:<span class="val-categorie"><%- prod.brand%></span></p> -->
                        
<button class="btn btn-outline-primary" data-action="keep">
    <i class="bi bi-pin-fill"></i>
</button>

<button class="btn btn-outline-primary" data-action="temp-delete">
    <i class="bi bi-trash"></i>
</button>

<button class="btn btn-outline-primary" data-action="session-delete">
    <i class="bi bi-x-lg"></i>
</button>

                        
                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                    </article>
                <% }%>
            </div>
            
        </section>
        <p id="no-results-message">Nu există produse conform filtrării curente.</p>
    </main>
    <br>
    <%- include("../fragmente/footer") %>
    </body>
</html>