<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta
      name="description"
      content="Cofetaria Dulcelind ofera prajituri, torturi, produse de patiserie cu optiunea de achizitie online si livrare prin curier."
    />
    <meta
      name="keywords"
      content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse"
    />

    <title>Hypero</title>
    <%- include("../fragmente/head") %>
    <link href="/Resurse/css/produs.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <%- include("../fragmente/header") %>

    <main>
      <section>
        <h2>Pagină produs</h2>
        <article id="art-produs">
          <h3><span class="nume"><%- locals.prod.nume %></span></h3>
          <p>Pret: <span class="pret"><%- locals.prod.pret %> </span> lei</p>
          <% if (locals.prod.descriere) { %>
          <p>
            Descriere:
            <span class="descriere"><%- locals.prod.descriere %> </span>
          </p>
          <% } %> <% if (locals.prod.tehnologie) { %>
          <p>
            Tehnologie:
            <span class="tehnologie"><%- locals.prod.tehnologie %> </span>
          </p>
          <% } %>

          <p>
            Stil:
            <span class="categorie"><%- locals.prod.stil %> </span>
          </p>
          <p>
            Culoare:
            <span class="ingrediente"><%- locals.prod.culoare %> </span>
          </p>
          <p>Tip: <span class="calorii"><%- locals.prod.tip %> </span></p>
          <p>
            Brand:
            <span class="categorie"><%- locals.prod.brand %> </span>
          </p>
          <p>
            Conditie:
            <span class="pt_diabetici"
              ><% if (locals.prod.nou) { %> Nou <% } else { %> Purtat <% }
              %></span
            >
          </p>
          <p>
            Pret Lansare:
            <span class="categorie"><%- locals.prod.pret_lansare %> </span>lei
          </p>

          <figure class="imag-produs">
            <img
              src="/resurse/imagine/produse/<%- locals.prod.imagine %>"
              alt="[imagine <%- locals.prod.nume %>]"
            />
          </figure>
          Data:<time><%- formatDate(locals.prod.data_adaugare)%></time>
        </article>
      </section>
    </main>
    <br />
    <%- include("../fragmente/footer") %>
  </body>
</html>
