<header>
  <h1 style="display: flex; justify-content: center">Hypero</h1>
  <!-- <button id="schimba_tema">Schimba tema</button> -->
  <!-- <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="schimba_tema" />
    <label class="form-check-label" for="schimba_tema"> </label>
  </div> -->

  <div class="container mt-5 text-center">
    <div class="btn-group" role="group" aria-label="Theme Selector">
      <input
        type="radio"
        class="btn-check"
        name="theme-selector"
        id="light_theme"
        autocomplete="off"
        checked
      />
      <label class="btn btn-outline-light" for="light_theme">Light Theme</label>

      <input
        type="radio"
        class="btn-check"
        name="theme-selector"
        id="dark_theme"
        autocomplete="off"
      />
      <label class="btn btn-outline-dark" for="dark_theme">Dark Theme</label>

      <input
        type="radio"
        class="btn-check"
        name="theme-selector"
        id="mocha_theme"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="mocha_theme"
        >Mocha Theme</label
      >
    </div>
  </div>
  <!-- <div class="container mt-5 text-center">
    <input
      type="range"
      class="form-range"
      id="theme_slider"
      min="0"
      max="2"
      value="0"
    />
  </div> -->

  <script src="/resurse/js/tema.js"></script>
</header>
<nav>
  <label id="hamburger" for="ch-menu">
    <div class="ham"></div>
    <div class="ham"></div>
    <div class="ham"></div>
  </label>
  <input id="ch-menu" type="checkbox" />
  <ul class="meniu">
    <li>
      <div id="acasa">
        <a href="/index"><i class="fa fa-home"></i> Acasa</a>
      </div>
      <div id="acasa-mediu">
        <i class="fa fa-home"> </i>
      </div>
      <ul>
        <li>
          <a href="/index#welcome">Bun venit! </a>
        </li>
        <li><a href="/index#calendar">Calendar</a></li>
        <li><a href="/index#diverse">Oferta</a></li>
        <li><a href="/index#orar">Orar</a></li>
      </ul>
    </li>
    <li><a href="/inregistrare">Inregistrare</a></li>
    <li>
      <div>Despre</div>
      <ul>
        <li><a href="/despre">Afla</a></li>
        <li><a href="/despre#utilizatori">Utilizatori</a></li>
        <!-- <li><a href="despre.html#istoric">Istoric</a></li>
                    <li><a href="despre.html#motivatie">Motivatie</a></li>
                    <li><a href="despre.html#galerie">Galerie</a></li> -->
      </ul>
    </li>
    <li>
      <div>Produse</div>
      <ul>
        <li><a href="/produse">Toate</a></li>
        <% if (typeof tipuri !== 'undefined' && tipuri.length > 0) { %> <% for
        (let opt of tipuri) { %>
        <li><a href="/produse?tip=<%- opt.unnest %>"><%- opt.unnest %></a></li>
        <% } %> <% } else { %>
        <li><a href="/produse?tip=incaltaminte">Incaltaminte</a></li>
        <li><a href="/produse?tip=imbracaminte">Imbracaminte</a></li>
        <li><a href="/produse?tip=accesorii">Accesorii</a></li>
        <% } %>
      </ul>
    </li>
    <li><a href="/cos-virtual">Cos</a></li>
    <li><a href="contact">Contact</a></li>
    <%- include("../fragmente/formular-login") %> <%-
    include("../fragmente/submeniu-administrare") %> <%-
    include("../fragmente/submeniu-utilizator-logat") %>
  </ul>
</nav>
